<%- include('layouts/main.ejs'); %>

<div class="form-control">
    <form action="/agregarproveedor" method="post">
      <legend>Ingresa un nuevo proveedor para la tienda</legend>
      
      <div class="mb-3">
        <label class="form-label">Nombre del proveedor</label>
        <input name="nombre" type="text" class="form-control" placeholder="Carlos Pérez">
      </div>

      <div class="mb-3">
        <label class="form-label">Número del proveedor</label>
        <input name="numero" type="text" class="form-control" placeholder="445-546-...">
      </div>
      
      <div class="mb-3">
        <label class="form-label">Dirección del proveedor</label>
        <input name="direccion" type="text" class="form-control" placeholder="Avenida García #88">
      </div>

      <div class="mb-3">
        <label class="form-label">Descripción de lo que vende el proveedor</label>
        <input name="descripcion" type="text" class="form-control" placeholder="Proveedor de grano de colombiano">
      </div>
        
      

      <button type="submit" class="btn btn-primary">Agregar</button>
   
    </form>
</div>

<%- include('layouts/footer.ejs'); %>